{% extends "mln/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'mln/page.css' %}" />
<div>
{% for image in user.gallery_images.all %}
	<figure>
		<img src="{{ image.image.url }}">
		<figcaption>{{ image.title }}</figcaption>
		<figcaption>{{ image.description }}</figcaption>
	</figure>
{% endfor %}
</div>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Upload</button>
</form>
{% endblock %}

