{% extends "./base.html" %}
{% load static %}
{% block title %}
Private View
{% endblock %}
{% block content %}
<embed type="application/x-shockwave-flash" src="{% static 'Flash Components/main.swf' %}" flashvars="s_mylegoPath={% url 'ugc' %}&amp;s_universePath={% url 'creation_lab' %}&amp;s_assetPath=&amp;s_webService={% url 'webservice' %}&amp;s_resourcePath={% static 'editorial-redux-v6.xml' %}&amp;s_avatarXmlPath={% static 'avatar-elements-redux-v1.xml' %}" width="950" height="933">
{% endblock %}
