{% extends "./base.html" %}
{% load static %}
{% block content %}
<embed type="application/x-shockwave-flash" src="{% static 'contentTemplating/MyLEGOMainFlashComponents/otherfiles/1033/download8CF1E9A53D60C05FE29A701262570DF6.swf' %}" flashvars="s_mylegoPath={% url 'ugc' %}&amp;s_universePath={% url 'creation_lab' %}&amp;s_assetPath=&amp;s_webService={% url 'webservice' %}&amp;s_resourcePath={% static 'XMLCache/MLN/MLN_1033_20100211081940.xml' %}&amp;s_avatarXmlPath={% static 'XMLCache/MLN/upload2ED6287A-9C2C-464A-A292-D3C7995C8FBA.xml' %}" width="950" height="933">
{% endblock %}
