{% extends "mln/ui/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'mln/page.css' %}" />
<title>Login</title>
<h2>Login</h2>
{% if next %}
	{% if user.is_authenticated %}
	<p>Your account doesn't have access to this page. To proceed,
	please login with an account that has access.</p>
	{% else %}
	<p>Please login to see this page.</p>
	{% endif %}
{% endif %}

{% if oauth %}
	{% if client_name %}
		<p>This account will be used to sign into: {{ client_name }}</p>
		<img src="{{image_url}}" height="300px"/>
	{% endif %}
{% endif %}

{% if oauth and invalid %}
	<h2>NOTE: This request was missing some information</h2>
	<p>The URL is supposed to contain a session_id and a valid client_id</p>
	<p>The error message was: {{invalid}}</p>
	<p>Please contact the developer of the site that took you here</p>
	<button type="button" onclick="window.history.back()">Go back</button>
{% else %}
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Login" />
	</form>
	<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
	<p><a href="{% url 'sign_up' %}">Sign up</a></p>
{% endif %}

{% endblock %}
